body {
  font-family: arial, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a,
a:hover,
a:visited {
  color: #333;
}

header {

  padding: 5px;
  background: #333;
  color: #eee;

  .radio-group {
    float: left;
    margin-right: 20px;

    input {
      position: relative;
      top: -3px;
    }

    label {
      margin-right: 10px;
    }

  }

  &:after {
    /* Clear fix */
    content: '';
    display: table;
    clear: both;
  }

}

#credits {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  padding: 10px;
  color: #666;
}